:root {
	background: #fefefe;
	font-family: avenir next, sans-sans-serif;
}

::selection {
	background-color: #ff5a70;
	color: white;
}

rss {
	margin-top: 2em;
}

channel {
	display: flex;
	flex-direction: column-reverse;
	margin-top: 3.2rem;
}

channel > title,
channel > description {
	position: absolute;
	display: block;
	text-align: center;
	width: 100%;
}

channel > title {
	top: 0;
	font-size: 2.2em;
	font-weight: 600;
	background: #abe;
	color: white;
}

channel > description {
	background: #cee;
	top: 2.7rem;
	font-size: 1em;
	font-style: italic;
	color: #333;
}

channel > pubDate {
	display: none;
}

channel > lastBuildDate {
	display: none;
}

channel > generator {
	display: none;
}

item {
	display: block;
	margin: auto;
	padding: 1em;
	max-width: 80rem;
	text-align: center;
}

item + item {
	margin-bottom: 5em;
}

item > * + * {
	margin-bottom: 1em;
}

item > title {
	display: block;
	font-size: 2em;
	font-weight: 600;
}

item > pubDate {
	display: block;
	text-transform: lowercase;
	font-size: 0.8em;
	font-style: italic;
	font-weight: 300;
}

item > description,
item > guid {
	display: none;
}

img {
	display: block;
	border-radius: 1%;
}
