:root {
	--red: #fd6976;
	--pink: pink;
	--blue: #177b8f;
	--yellow: #fc8;
	--green: #22fabe;
	--light: #fff;
	--dark: #000;
	--black: #000;
	--white: #fff;
	--off-white: #fcfcf9;
	--off-off-white: #ececec;
	--faded: #99a;
	--hover-back: rgba(250, 200, 40, 0.1);
	--hover-front: rgb(90, 30, 20);
	--font-stack:
		avenir next,
		avenir,
		muli,
		nunito,
		lato,
		comic sans ms,
		impact,
		papyrus,
		sans-serif;
	--code-bg: #fff9f6;
	--code-fg: var(--dark);
	--code-hl: var(--yellow);
	--link-gradient: repeating-linear-gradient(to right, var(--red), var(--yellow), var(--blue), var(--red), var(--yellow));
}

@keyframes hover-slide {
	0% {
		background-position: 0% 100%;
	}

	50% {
		background-position: 50% 0%;
	}

	to {
		background-position: 100% 50%;
	}
}

::selection {
	background: var(--red);
	color: var(--light);
}

html {
	font-family: var(--font-stack);
}

body {
	margin: 0;
	background: var(--off-white);
	font-size: 1em;
}

.header {
	top: 0;
	left: 0;
	right: 0;
	font-weight: bold;
	font-size: 0.8em;
	padding: 2mm;
}

.header a {
	color: var(--dark);
	text-decoration: none;
	display: inline-block;
	margin: 0.2vw;
}

.header a:hover {
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: var(--link-gradient);
	background-size: 400%;
	animation: hover-slide infinite 4s ease;
	color: var(--red);
}

.header a.active {
	color: var(--black);
}

.main {
	background: var(--white);
	height: 100%;
	width: 95%;
	margin: auto;
	font-size: 1.25rem;
	max-width: 80ex;
	margin-top: 1ch;
	border-radius: 0.5pc;
	padding: 4pt;
	border: 1Q solid var(--off-off-white);
	box-shadow: 0 0 0.1in rgba(200, 200, 200, 0.2);
	padding: 0.5cm;
}

.main:hover {
	box-shadow: 0 0 0.12in rgba(200, 200, 200, 0.3);
}

h2 {
	font-size: 1.22em;
}

h3 {
	font-size: 1.14em;
}

h4 {
	font-size: 1.09em;
}

h4 {
	font-size: 1.04em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

h2, h3, h4, h5, h6, p {
	margin-bottom: 0;
	padding-bottom: 0.5ch;
}

h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
	margin-top: 0.5ch;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
p:hover,
li:hover {
	background: var(--hover-back);
	color: var(--hover-front);
}

.post-list {
	list-style-type: none;
}

.post-list li:hover {
	background: transparent;
}

.post-list-item {
	display: flex;
	align-items: center;
}

.main a {
	color: var(--blue);
	text-decoration: none;
	color: var(--light);
	background-image: var(--link-gradient);
	background-size: 100% 2px;
	background-repeat: repeat-x;
	background-position: 0 1.1em;
	word-break: break-all;
	word-break: break-word;
}

.main a,
.main a:visited {
	color: var(--blue);
}

.main a:hover {
	background-size: 400%;
	animation: hover-slide infinite 4s ease;
	color: var(--white)
}

.main .post-list-title {
	flex: 1;
	margin-left: -1em;
	padding: .5em 0 .5em 1em;
	background-image: none;
}

.main .post-list-title:hover {
	background-image: var(--link-gradient);
}

.post-time {
	font-size: 50%;
	text-align: right;
	opacity: 0.5;
	color: var(--dark);
	padding-left: 1ex;
	line-height: 2.4em;
}

.post-list-item:hover .post-time {
	opacity: 1;
	background: var(--white);
}

.post-list-time small {
	display: block;
}

ol,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}

ol,
ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,
th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

q,
blockquote {
	quotes: none
}

q::before,
q::after,
blockquote::before,
blockquote::after {
	content: "";
	content: none
}

a img {
	border: none
}

.main,
.main * {
	box-sizing: border-box
}

.main {
	font-size: 1.2em;
	padding: 1.6em;
	line-height: 1.4;
	-webkit-text-size-adjust: 100%;
	color: var(--dark);
	text-rendering: optimizeLegibility;
}

.main p {
	margin-bottom: 0;
	hyphens: auto
}

hr {
	height: 1px;
	border: 0;
	background-color: var(--green);
	margin: -1px auto 1.57143em auto
}

.main ul,
.main ol {
	margin-bottom: .31429em
}

ul ul,
ul ol,
ol ul,
ol ol {
	margin-bottom: 0px
}

ol li::before {
	content: counter(ol) ".";
	color: var(--red);
	text-align: right;
	display: inline-block;
	min-width: 1em;
	margin-right: 0.5ex;
}

ol li {
	counter-increment: ol;
}

b,
strong {
	font-weight: 700;
}

i,
em {
	font-family: "AvenirNext-Italic";
	font-family: "avenir next";
	font-style: italic;
}

.text-overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.note-wrapper {
	max-width: 46em;
	margin: 0px auto;
	padding: 1.57143em 3.14286em
}

.note-wrapper.spotlight-preview {
	overflow-x: hidden
}

u {
	text-decoration: none;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, var(--blue) 20%, var(--red) 20%, var(--green) 20%);
	background-repeat: repeat-x;
	background-size: 2px 2px;
	background-position: 0 1.05em
}

s {
	color: var(--faded);
}

p {
	margin-bottom: 0.1em
}

hr {
	margin-bottom: 0.7em;
	margin-top: 0.7em
}

ul li:before {
	content: "•";
	color: var(--red);
	display: inline-block;
	margin-right: 0.3em;
}

ul ul {
	margin-left: 1.25714em
}

ol ol {
	margin-left: 1.25714em
}

blockquote {
	display: block;
	margin-left: -1em;
	padding-left: 0.8em;
	margin-right: -0.2em;
	border-left: 0.2em solid var(--blue);
	background: aliceblue;
}

.todo-list ul {
	margin-left: 1.88571em
}

.todo-list li:before {
	content: "";
	display: static;
	margin-right: 0px
}

.todo-checkbox {
	height: 16px;
	width: 16px;
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M.5 12.853c0 1.462 1.185 2.647 2.647 2.647h9.706c1.462 0 2.647-1.185 2.647-2.647V3.147C15.5 1.685 14.315.5 12.853.5H3.147C1.685.5.5 1.685.5 3.147v9.706z' fill='%23FFF'/%3E%3Cpath d='M.5 12.853c0 1.462 1.185 2.647 2.647 2.647h9.706c1.462 0 2.647-1.185 2.647-2.647V3.147C15.5 1.685 14.315.5 12.853.5H3.147C1.685.5.5 1.685.5 3.147v9.706z' stroke='%23B4B4B4'/%3E%3C/g%3E%3C/svg%3E");
}

.todo-checkbox svg {
	margin-right: 0.3em;
	position: relative;
}

.todo-checkbox.todo-checked {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M.5 12.853c0 1.462 1.185 2.647 2.647 2.647h9.706c1.462 0 2.647-1.185 2.647-2.647V3.147C15.5 1.685 14.315.5 12.853.5H3.147C1.685.5.5 1.685.5 3.147v9.706z' fill='%23FFF'/%3E%3Cpath d='M.5 12.853c0 1.462 1.185 2.647 2.647 2.647h9.706c1.462 0 2.647-1.185 2.647-2.647V3.147C15.5 1.685 14.315.5 12.853.5H3.147C1.685.5.5 1.685.5 3.147v9.706z' stroke='%23B4B4B4'/%3E%3Cpath d='M12.526 4.615L6.636 9.58l-2.482-.836c-.19-.06-.408.003-.518.15-.116.15-.106.352.026.495l2.722 2.91c.086.09.21.144.34.144h.046c.12-.013.234-.07.307-.156l6.1-7.125c.143-.166.123-.407-.046-.548-.164-.138-.435-.14-.604 0z' id='check' fill='%23555'/%3E%3C/g%3E%3C/svg%3E");
}

.todo-checkbox.todo-checked .todo-text {
	text-decoration: line-through;
	color: var(--faded);
}

.code-inline {
	display: inline;
	background: var(--light);
	border: solid 1px var(--off-off-white);
	padding: 0.2em 0.5em;
	font-size: 0.9em
}

.code-multiline {
	display: block;
	background: var(--light);
	border: solid 1px var(--off-off-white);
	padding: 0.7em 1em;
	font-size: 0.9em;
	overflow-x: auto
}

.hashtag {
	display: inline-block;
	color: var(--dark);
	background: var(--off-off-white);
	padding: 0.0em 0.5em;
	border-radius: 1em;
	text-indent: 0
}

.hashtag a {
	color: var(--dark)
}

.address a {
	color: var(--dark);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, var(--green) 50%);
	background-repeat: repeat-x;
	background-size: 2px 2px;
	background-position: 0 1.05em
}

.address svg {
	position: relative;
	top: 0.2em;
	display: inline-block;
	margin-right: 0.2em
}

.color-preview {
	display: inline-block;
	width: 1em;
	height: 1em;
	border: solid 1px rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	margin-right: 0.1em;
	position: relative;
	top: 0.2em;
	white-space: nowrap
}

.color-code {
	margin-right: 0.2em;
	font-family: "Menlo-Regular";
	font-size: 0.9em
}

.color-hash {
	opacity: 0.4
}

.ordered-list-number {
	color: var(--red);
	text-align: right;
	display: inline-block;
	min-width: 1em
}

.arrow svg {
	position: relative;
	top: 0.08em;
	display: inline-block;
	margin-right: 0.15em;
	margin-left: 0.15em
}

.arrow svg #rod {
	stroke: var(--dark)
}

.arrow svg #point {
	fill: var(--dark)
}

mark {
	color: inherit;
	display: inline;
	padding: 0.2em 0.5em;
	background-color: var(--yellow)
}

img {
	max-width: 100%;
	height: auto
}

code,
pre {
	font-family: fira code, monospace;
	font-size: 0.8rem;
	line-height: 1.2;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: var(--code-bg);
	color: var(--code-fg);
}

pre::-moz-selection, pre ::-moz-selection,
code::-moz-selection, code ::-moz-selection {
	text-shadow: none;
	background: var(--code-hl);
	color: var(--dark);
}

pre::selection, pre ::selection,
code::selection, code ::selection {
	text-shadow: none;
	background: var(--code-hl);
	color: var(--dark);
}

pre {
	box-sizing: border-box;
	padding: 1.2em;
	overflow: auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	max-width: 80ch;
	font-size: 14px;
	margin: 2em auto;
}

:not(pre) > code {
	padding: .1em;
	border-radius: .3em;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: aliceblue;
	padding: 5px;
	border-radius: 4px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #55aa99;
}

.token.punctuation {
	color: #555;
}

.token.namespace {
	opacity: .9;
}

.token.operator,
.token.boolean,
.token.number {
	color: #3399cc;
}

.token.property {
	color: #cc792c;
}

.token.tag {
	color: #5d92f5;
}

.token.string {
	color: #1999b3;
}

.token.selector {
	color: #d43aae;
}

.token.attr-name {
	color: #87711d;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #1999b3;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
	color: #09747c;
}

.token.statement,
.token.regex,
.token.atrule {
	color: #1999b3;
}

.token.placeholder,
.token.variable {
	color: #cc5a90;
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	border-bottom: 1px dotted #131513;
	text-decoration: none;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.important {
	color: #333;
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: 0.4em solid #e6193c;
	outline-offset: .4em;
}

.line-numbers .line-numbers-rows {
	border-right-color: #cfe8cf !important;
}

.line-numbers-rows > span:before {
	color: #8ca68c !important;
}

.line-highlight {
	background: rgba(19, 21, 19, 0.2) !important;
	background: -webkit-linear-gradient(left, rgba(19, 21, 19, 0.2) 70%, rgba(19, 21, 19, 0)) !important;
	background: linear-gradient(to right, rgba(19, 21, 19, 0.2) 70%, rgba(19, 21, 19, 0)) !important;
}

kbd {
	box-shadow: inset -2px -2px 15px rgba(207, 224, 240, 0.2);
	background: aliceblue;
	border: 4px inset rgba(220, 220, 220, 0.5);
	border-radius: 4px;
	padding: .1em;
}
