---
permalink: atom.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="./stylesheets/main.css"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>chee/contents</title>
		<description>please be kind</description>
		<link href="{{root}}" />
		<atom:link href="{{root}}/atom.xml" rel="self" type="application/rss+xml"/>
		<pubDate>{{ collections.posts | rssLastUpdatedDate | toGmtString }}</pubDate>
		<lastBuildDate>{{ collections.posts | rssLastUpdatedDate | toGmtString }}</lastBuildDate>
		<generator>chee rabbits</generator>
		{%- for post in collections.posts | reverse %}
			{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(root) }}{% endset %}
			<item>
				<title>{{ post.data.title }}</title>
				<link href="{{ absolutePostUrl }}"/>
				<pubDate>{{ post.date | toGmtString }}</pubDate>
				<guid>{{ absolutePostUrl }}</guid>
				<description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
			</item>
		{%- endfor %}
	</channel>
	<!--xhtml:script
		xmlns:xhtml="http://www.w3.org/1999/xhtml">
		(function crime () {
			try {
				document.querySelectorAll("description").forEach(description => {
					description.innerHTML = description.innerHTML.replace(
						/&amp;lt;(\/)?(.+?)&amp;gt;/g,
						(_, slash, tag) => {
							return slash
								? `&lt;/xhtml:${tag}>`
								: `&lt;xhtml:${tag} xmlns:xhtml="http://www.w3.org/1999/xhtml">`
						})
				})
			} catch {
				crime()
			}
		})()
	</xhtml:script-->

	<xhtml:script
		xmlns:xhtml="http://www.w3.org/1999/xhtml">
		document.querySelectorAll("guid").forEach(guid => {
			let text = guid.innerHTML
			guid.innerHTML = `&lt;xhtml:a
				xmlns:xhtml="http://www.w3.org/1999/xhtml"
				href="${guid.textContent}">
				${guid.textContent}
			&lt;/xhtml:a>`
		})
	</xhtml:script>
</rss>
