---
permalink: atom.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>chee 🧚🏻‍♀️ rabbits 🐰🐇</title>
	<subtitle>please be kind</subtitle>
	<link href="{{root}}/atom.xml" rel="self"/>
	<link href="{{root}}" />
	<updated>{{ collections.posts | rssLastUpdatedDate | rssdate }}</updated>
	<id>https://chee.snoot.club/content</id>
	<author>
		<name>chee</name>
		<email>chee-content@snoot.club</email>
	</author>
	{%- for post in collections.posts %}
	{% set absolutePostUrl %}{{ post.url | url | absoluteUrl(root) }}{% endset %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | rssdate }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>
