<!doctype html>
<html lang="en-ca">
<meta charset="utf-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1.0">
<link
	rel="stylesheet"
	href="{{ '/stylesheets/main.css' | url }}">

<link
	rel="alternate"
	href="{{ 'feed.xml' | url }}"
	title="{{ title }}"
	type="application/atom+xml">
<title>
	{{title}} » Chee ♥️
</title>

<header class="header">
	<a class="header-link" href="/">
		chee
	</a>
	/
	<a class="header-link" href="{{ '/' | url }}">
		{{ pathPrefix }}
	</a>
	{% if page.fileSlug %}
		/
		<a class="header-link active" href="{{page.url | url}}">
			{{ title }}
		</a>
	{% endif %}
</header>

<main role="main" class="main">
	{% if page.fileSlug and page.date %}
		{% set postDate = page.date %}
		{% include "post-date.njk" %}
	{% endif %}
	{{content | safe}}
</main>
